<!DOCTYPE html>
<html>
    <head>
        <title>Tfadutor Tifanofauro - Tfaduza fuaf ffafef e teftof fafa a línfua do tifanofauro</title>

        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        <link href='//fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
        <meta property="og:title" content="Tfadutor Tifanofauro" />
        <meta property="og:site_name" content="tifanofauro.com"/>
        <meta property="og:image" content="www.tifanofauvo.com/img/tifanofauvo.jpg">
        <meta property="og:url" content="http://www.tifanofauvo.com" />
        <meta property="og:description" content="Tfaduza fuaf ffafef e teftof fafa a línfua do tifanofauro." />
        <meta property="og:type" content="article" />
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image" content="{{ asset('img/tifanofauvo.png') }}">

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-63563063-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>

        <img class="displayed" src="{{ asset('img/tifanofauvo2.png') }}">
        {% block header %}{% endblock %}

        <div id="container">
            <span id="forkongithub">
                <a target="_blank" href="https://github.com/alejandroschmechel/tifanofauvo.com">Fork me on GitHub</a>
            </span>
            
            {% block content %}{% endblock %}

            {% block twitter %}{% endblock %}

        </div>
    </body>
</html>
