<!DOCTYPE html>
<html>
    <head>
        <title>Tfadutor Tifanofauro - Tfaduza fuaf ffafef e teftof fafa a línfua do tifanofauro</title>

        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        <link href='//fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
        <meta property="og:image" content="www.tifanofauvo.com/img/tifanofauvo.jpg">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="800">
        <meta property="og:image:height" content="600">

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-63563063-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>

        <img class="displayed" src="{{ asset('img/tifanofauvo2.png') }}">
        <h1 class="header">Tfadutof Tifanofauvo</h1>

        <h3 class="headline">Tvaduza fvafef e teftof fava a línfa do tifanofauvo</h3>

        <div id="container">
            <span id="forkongithub">
                <a target="_blank" href="https://github.com/alejandroschmechel/tifanofauvo.com">Fork me on GitHub</a>
            </span>
            
            {% block content %}{% endblock %}

            <div id="twitterFeed">
                <a class="twitter-timeline"  href="https://twitter.com/tifanofauvovex" data-widget-id="604091837264056322"></a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
    </body>
</html>
