{% extends "layout.html" %}

{% block header %}
	<div id="topTBannerContainer">
		<script type="text/javascript">
			bb_bid = "1703328";
			bb_lang = "pt-br";
			bb_name = "custom";
			bb_limit = "9";
			bb_format = "bbo";
		</script>
		<script type="text/javascript" src="//static.boo-box.com/javascripts/embed.js"></script>
	</div>
	<div id="topBannerContainer">
		<script type="text/javascript">
			bb_bid = "1703328";
			bb_lang = "pt-br";
			bb_name = "custom";
			bb_limit = "8";
			bb_format = "bbb";
		</script>
		<script type="text/javascript" src="//static.boo-box.com/javascripts/embed.js"></script>
	</div>
	<h1 class="header">Lorem iffum do Tifanofauvo</h1>

        <h3 class="headline">Gere lorem iffum do tifanofauvo</h3>
{% endblock %}

{% block content %}
    <div id="formContainer">
    	<form method="GET" action="{{ base ~ '/index.php/lipsum' }}">
	    	<input type="number" name="number" id="number" min="1" max="50"/>
	    	 <select id="type" name="type">
				<option value="words" selected>Falavfaf (Palavras)</option>
				<option value="phrases">Fvafefv (Frases)</option>
				<option value="paragraphs">Pavafrafof (Parágrafos)</option>
			</select> 
	    	<input type="submit" value="Gerar Lorem iffum"><br/>
            <label>Lorem iffum</label><br/>
            <textarea id="loremOutput">{{ lorem|raw }}</textarea><br/>
    	</form>

    	<div id="bottomTSquareBannerContainer">
			<script type="text/javascript">
				bb_bid = "1703328";
				bb_lang = "pt-br";
				bb_name = "custom";
				bb_limit = "9";
				bb_format = "bbo";
			</script>
			<script type="text/javascript" src="http://static.boo-box.com/javascripts/embed.js"></script>
		</div>
    </div>
{% endblock %}

{% block twitter %}
<div id="twitterFeed">
    <a class="twitter-timeline"  href="https://twitter.com/tifanofauvovex" data-widget-id="604091837264056322"></a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
{% endblock %}